
<!DOCTYPE html>
<html>
<head>
  <!-- Required META Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html"; charset="UTF-8">  
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  
  <!-- Tracking Affiliates and Bots -->
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  
  <!-- Link Relative -->

  <!-- TITLE -->
  <title>Blog Post Template</title>  

  <!-- // STYLES // -->
  <!-- // STYLES // CSS // -->

  <!-- // CSS // Normalize (Material Design) // -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
  <!-- // CSS // Bootstrap Core CSS // -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- **delete** <link rel="stylesheet" type="text/css" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->
  <!-- // CSS // Material Design Bootstrap // -->
  <!-- --><link href="../../assets/css/mdb.min.css" rel="stylesheet">
  <!-- // CSS // Fluent Material Design Bootstrap // -->
  <link href="../../assets/css/fluent.css" rel="stylesheet">
  <!-- // CSS // Fluent Micon // -->
  <link href="../../assets/css/micon.min.css" rel="stylesheet">
  <!-- // CSS // Your custom styles (optional) // -->
  <link href="../../assets/css/style.css" rel="stylesheet">
  <!-- // CSS // Custom (bs-blog.css) // -->
  <link href="../../assets/css/bs-blog.css" rel="stylesheet"> -->
  
  <!-- // STYLES // -->
  <!-- // STYLES // Favicons and Page Screenshots //-->
  <link rel="icon" sizes="192x192" href="https://material.io/static/images/simple-lp/favicons/components-192x192.png">
  <link rel="shortcut icon" href="https://material.io/static/images/simple-lp/favicons/components-72x72.png">
  <!-- // STYLES // Icons-Font-Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  
  <!-- // STYLES // FONTS // -->
  <!-- // FONTS // Roboto, Noto Sans, Poppins, Roboto Condensed  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,700,700i,900,900i|Noto+Sans:300,300i,400,400i,500,500i,700,700i,900,900i|Poppins:" rel="stylesheet">
    
  <!-- // SCRIPTS // -->
  <!-- From Required for Bootstrap 4 w/ jQuery, Popper and bootstrap CDNs -->
  <!-- <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script> -->
  <!-- <script type="text/javascript" src="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <!-- TODO: Missing CoffeeScript 2 -->
  <script type="text/javascript">
    window.onload=function(){
      // CODE HERE
    }</script>

  <!-- // SCRIPTS // -->
  <scripts>
      <!-- JQuery -->
      <script type="text/javascript" src="/../../assets/js/jquery-3.3.1.min.js"></script>
      <!-- Bootstrap tooltips -->
      <script type="text/javascript" src="/../../assets/js/popper.min.js"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="/../../assets/js/bootstrap.min.js"></script>
      <!-- MDB core JavaScript -->
      <script type="text/javascript" src="/../../assets/js/mdb.js"></script>
      <!-- Custom app.js Script -->
      <script type="text/javascript" src="/../../assets/js/app.js"></script>  
  </scripts>



</head>
<!-- END head -->
<!-- BEGIN body -->
<body>

  <!-- BEGIN-Section 0-Container -->
<div class="container">
  
</div>
<!-- BEGIN-Section 0-Container -->





 
<!-- END-Section 0-Container -->

<!-- BEGIN Section 0-->
<section id=0>

</section>
<!-- END Section 0-->

<!-- BEGIN Section 1 -->
<section id=1> 
</section>
<!-- END Section 1 -->

<!-- BEGIN Section 2 - Logo Header -->
<section id="2 logoheader">
</section>
<!-- END Section 2 logoheader -->










<!-- ROW A: blog-header Row -->
<section id=2>
<div class="d-flex p-0 bd-highlight row " id=logo-header>


<div class="my-1">
<i id="icon" class="fa fa-flask" style="text-shadow: rgb(179, 18, 117) 0px 0px 0px, rgb(194, 19, 127) .1rem .1rem 0rem, rgb(209, 21, 137) .15rem .15rem 0px, rgb(224, 22, 147) .2rem .2rem 0rem, rgb(240, 24, 157) .2rem .20rem; font-size: 1rem ; color: rgb(255, 255, 255); height: 1.5rem; width: 1.5rem; line-height: 1.5rem; border-radius: 0px; text-align: center; background-color: rgb(255, 25, 167);"></i> 
</div>
<h1 class="my-1 px-2 text-uppercase blog-header-logo" id=logo-header>KemicalSex</h1>

</div>
<!-- END Row A -->

<!-- ROW B2: Logo Header Row -->
<!-- <div class="d-flex p-2 bd-highlight text-uppercase col" id=logo-header><h1 class="display-4 zeroed" id=logo-header>Kemical Sex</h1></div><!-- END Row B2 -->

<!-- ROW C: FLEXIBLE Flex items right -->
<!--   
<div class="d-flex bd-highlight">
   <div class="p-2 flex-grow-1 bd-highlight ">FLEXIBLE
   </div> 
   <div class="p-2 bd-highlight">Flex item</div>
   <div class="p-2 bd-highlight">Flex item</div>
   <div class="p-2 bd-highlight">Third flex item</div>
  </div><!-- END Row C -->
<!-- ROW D: Content Title -->  
<!-- <h1 class="display-4 zeroed" id=logo-header>Logo Header GREEN for testing</h1> -->
</section>

<section id="2.2">

	<!--Main Navigation-->
<header>

  <nav class="navbar navbar-expand-lg bg-primary navbar-dark scrolling-navbar ">
    <a class="navbar-brand" href="#"><strong>Kemical Sex</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">VIDEOS<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PHOTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LIVE CAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">HOOK-UP</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>

</header>
<!--Main Navigation-->
</section>

<ul class="nav md-tabs nav-justified purple lighten-2 mx-0 mb-0 mt-1">
  <li class="nav-item">
    <a class="nav-link active" href="#!">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Link 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Link 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Link 3</a>
  </li>
</ul>


<ul class="nav nav-pills nav-justified md-pills bg-primary white-text text-white"id="myTabJust" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab" aria-controls="profile-just"
      aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#contact-just" role="tab" aria-controls="contact-just"
      aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content card pt-5" id="myTabContentJust">
  <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
      synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
      retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
      placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
  </div>
  <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
      labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
      beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
      vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
      helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
      anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party
      scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
  </div>
  <div class="tab-pane fade" id="contact-just" role="tabpanel" aria-labelledby="contact-tab-just">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
      fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone
      skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
      gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork
      biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl
      craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
  </div>
</div>




<!-- SECTION 3 ROW A: Page Content  -->
<section id=3>
<!-- ROW A: Content Badges -->
<!-- ROW C: FLEXIBLE Flex items right -->  
<div class="">
   <div class="">
   </div> 
   <div class="p-2 bd-highlight">
     
  </div>
  </div><!-- END Row C -->  
<!-- ROW B: Content Title -->  
<div id=content-title class="row">
    <div class="col">
      <h1 class="pl-2 zeroed">Mandy Morbid - Emo punk<span class="badge badge-danger">Sex Catalyst</span></h1>
    </div>
  </div><!-- END Row A: Content Title -->
<!-- ROW C: Badges -->  
<div class="pl-2 mb-2">

	<span class="badge badge-info">emo</span>
	<span class="badge badge-info">blowjob</span>
	<span class="badge badge-info">threesome</span>
	<span class="badge badge-info">oral</span>
	<span class="badge badge-info">amateur</span>
	<span class="badge badge-info">pov</span>

 
  </div><!-- END Row C: Badges -->
<!-- ROW B: Content Body --> 
  
<!-- ROW B: Content Body -->
<div class="row" id=content-body>
<div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.pornhub.com/embed/ph5a9a5c54efd27" scrolling="no" allowfullscreen></iframe>
    </div><!-- id=embed -->
<!--
    <iframe src="https://www.pornhub.com/embed/ph5a9a5c54efd27" frameborder="0" width="560" height="315" scrolling="no" allowfullscreen></iframe>-->

  
<!-- POST  META -->  
<div class="card text-white bg-dark mb-3">
  <h6 class="card-header">Post Metadata</h5>
  <div class="card-body">
    <h5 class="card-title">Video Title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

  

</div><!-- END Content Body -->
  
<!-- FOOTER -->

</div><!-- END CONTAINER --> 

<!-- ENDING SCRIPTS -->
<script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent){
      window.parent.parent.postMessage(["resultsFrame", {
        height: document.body.getBoundingClientRect().height,
        slug: "876ufxh5"
      }], "*")
    }

    // always overwrite window.name, in case users try to set it manually
    window.name = "result"
</script>


</body>
<!-- END body -->
</html>
