
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Tracking Affiliates and Bots -->
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  
  <!-- Link Relative -->
  
  <!-- ICONS -->
  <link rel="icon" sizes="192x192" href="https://material.io/static/images/simple-lp/favicons/components-192x192.png">
  <link rel="shortcut icon" href="https://material.io/static/images/simple-lp/favicons/components-72x72.png">
  <!-- TITLE -->
  <title>blog-post</title>
  
  <!-- STYLES -->
  <!-- From Material Design -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
  <link rel="stylesheet" href="bundle-login.css">
  <!-- From Bootstrap CDN -->
  <link rel="stylesheet" type="text/css" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" type="text/css" href="assets/styles/bs-blog.css">
  <!-- link rel="stylesheet" type="text/css" href="/css/result-light.css"> -->
  
  <!-- FONTS -->
  <!-- Roboto, Noto Sans, Poppins, Roboto Condensed  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Poppins|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  
  
  <!-- SCRIPTS -->
  <!-- From Required for Bootstrap 4 w/ jQuery, Popper and bootstrap CDNs -->
  <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script type="text/javascript" src="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  
  <!-- TODO: Missing CoffeeScript 2 -->
  <script type="text/javascript">
    window.onload=function(){
      // CODE HERE
    }
  </script>
  <!-- Dummy Script -->
  <script type="text/javascript" src="/assets/scripts/js/lib/dummy.js"></script>
</head>
 
<body>
    <!-- 
  Bootstrap docs: https://getbootstrap.com/docs
-->




<div class="container">
<section id=0>
  <!-- 
  <div class="row">
    <div class="col">
      <p class="text-uppercase font-weight-bolder">Kemical Sex</p>

    </div>
    <div class="col">
      2 of 2
    </div>
  </div>  <!-- row -->
  <!-- <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
   
  </div>  <!-- row -->
  <!-- <div class="row">
    <div class="col">
    <div class="badge badge-primary text-wrap" style="width: 6rem;">
      Sex Catalyst
    </div>
   
 
 </div>
   
</div>  
-->
</section>
<section id=1> 
<!-- ROW A -->
<!--  <div class="row">
 <!--   <div class="col">Kemical Sex Blog</div><!-- blog.title -->
 <!--   <div class="col">Column</div><!-- col -->
<!--  </div><!-- END Row A -->
</section>
<section id=2>
<!-- ROW A: blog-header Row -->
<div class="d-flex p-0 bd-highlight row " id=logo-header><h1 class="my-1 px-2 text-uppercase blog-header-logo" id=logo-header>KemicalSex</h1></div><!-- END Row A -->

<!-- ROW B2: Logo Header Row -->
<!-- <div class="d-flex p-2 bd-highlight text-uppercase col" id=logo-header><h1 class="display-4 zeroed" id=logo-header>Kemical Sex</h1></div><!-- END Row B2 -->

<!-- ROW C: FLEXIBLE Flex items right -->
<!--   
<div class="d-flex bd-highlight">
   <div class="p-2 flex-grow-1 bd-highlight ">FLEXIBLE
   </div> 
   <div class="p-2 bd-highlight">Flex item</div>
   <div class="p-2 bd-highlight">Flex item</div>
   <div class="p-2 bd-highlight">Third flex item</div>
  </div><!-- END Row C -->
<!-- ROW D: Content Title -->  
<!-- <h1 class="display-4 zeroed" id=logo-header>Logo Header GREEN for testing</h1> -->
</section>

<!-- SECTION 3 ROW A: Page Content  -->
<section id=3>
<!-- ROW A: Content Badges -->
<!-- ROW C: FLEXIBLE Flex items right -->  
<div class="">
   <div class="">
   </div> 
   <div class="p-2 bd-highlight">
     
  </div>
  </div><!-- END Row C -->  
<!-- ROW B: Content Title -->  
<div id=content-title class="row pl-2">
    <div class="col">
      <h1 class="zeroed">Mandy Morbid - Emo punk <span class="badge badge-danger">Sex Catalyst</span></h1>
    </div>
  </div><!-- END Row A: Content Title -->
<!-- ROW C: Badges -->  
<div class="pl-2 mb-2">

<span class="badge badge-info">emo</span>
  <span class="badge badge-info">blowjob</span>
  <span class="badge badge-info">threesome</span>
  <span class="badge badge-info">oral</span>
  <span class="badge badge-info">pov</span>

 
  </div><!-- END Row C: Badges -->
<!-- ROW B: Content Body --> 
  
<!-- ROW B: Content Body -->
<div class="row" id=content-body>
<div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.pornhub.com/embed/ph5a9a5c54efd27" scrolling="no" allowfullscreen></iframe>
    </div><!-- id=embed -->
<!--
    <iframe src="https://www.pornhub.com/embed/ph5a9a5c54efd27" frameborder="0" width="560" height="315" scrolling="no" allowfullscreen></iframe>-->

  
<!-- POST  META -->  
<div class="card text-white bg-dark mb-3">
  <h6 class="card-header">Post Metadata</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

  

</div><!-- END Content Body -->
  
<!-- FOOTER -->

</div><!-- END CONTAINER --> 

<!-- ENDING SCRIPTS -->
<script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent){
      window.parent.parent.postMessage(["resultsFrame", {
        height: document.body.getBoundingClientRect().height,
        slug: "876ufxh5"
      }], "*")
    }

    // always overwrite window.name, in case users try to set it manually
    window.name = "result"
</script>
</body>
</html>
